/**********　全ページ　**********/
.main {
    background-color: white;
    height: auto;
    padding: 0 3%;
}

body {
    margin: 0;
    letter-spacing: 0.05em;
}

body,
html {
    overflow-x: hidden;
    /* 横方向のスクロールを隠す */
}

.h2title {
    z-index: 0;
    position: relative;
    letter-spacing: 0;
}

.h2title:after {
    content: '';
    /* 必須: 疑似要素の内容 */
    position: absolute;
    /* 絶対位置指定: h2要素に対する相対位置 */
    left: 0;
    /* h2要素の左端からの位置 */
    bottom: -10px;
    /* 下線の位置を調整 */
    height: 2px;
    /* 下線の厚み */
    width: 70%;
    /* ここで下線の長さを固定 */
    background-color: #000;
    /* 下線の色 */
}


/*********** ヘッダーレイアウト **********/
.header {
    height: 150px;
    /* 高さ */
    position: fixed;
    /* 固定位置 */
    top: 0;
    /* 上端から0の位置に */
    left: 0;
    /* 左端から0の位置に */
    width: 100%;
    /* 幅を100%に設定 */
    z-index: 1000;
    /* 他の要素よりも前面に表示 */
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    /* アイテムを左右に均等に配置 */
    align-items: center;
    /* アイテムを縦方向の中央に配置 */
    padding: 10px;
    /* パディング */
}

.center {
    display: flex;
    justify-content: center;
    /* 水平方向の中央寄せ */
    align-items: center;
    /* 垂直方向の中央寄せ */
    flex: 1;
    /* フレックスアイテムとしての拡張比率を指定 */
}

.left,
.center,
.right {
    flex: 1;
}

.center img {
    height: auto;
    max-height: 155px;
    /* ロゴの最大高さ */
    width: auto;
    /* 幅は自動調整 */
}

.left {
    display: flex;
    justify-content: flex-start;
    /* 左寄せ */
}

.right {
    display: flex;
    justify-content: flex-end;
    /* 右寄せ */
}

/********** ヘッダーナビゲーション レイアウト **********/
.site-header {
    position: fixed;
    /* 固定位置 */
    top: 150px;
    /* .headerの高さと同じ値に設定 */
    left: 0;
    /* 左端から0の位置に */
    width: 100%;
    /* 幅を100%に設定 */
    z-index: 1000;
    /* .headerと同じz-index値に設定 */
}

header nav {
    display: flex;
    justify-content: center;
    /* アイテムを水平方向の中央に配置 */
    align-items: center;
    /* アイテムを垂直方向の中央に配置 */
}

.header-bottom ul {
    display: flex;
    justify-content: space-around;
    /* アイテムを左右に均等に配置 */
    align-items: center;
    /* アイテムを縦方向の中央に配置 */
    height: 50px;
    /* 高さ */
    list-style: none;
    /* リストマーカーを非表示 */
    padding: 0;
    /* パディングを0に設定 */
    margin: 0;
    /* マージンを0に設定 */
}

.header-bottom li {
    position: relative;
    /* ナビゲーションリンクの下線を追加するため */
}

.header-bottom a {
    text-decoration: none;
    /* アンダーラインを非表示 */
    padding: 0 35px;
    /* 左右のパディング */
    border-bottom: 2px solid white;
    /* 下線を白色に */
}





/**********　ファーストビュー　レイアウト　**********/
.top-wrapper {
    background-size: cover;
    width: 100%;
    height: 940px;
    overflow-y: hidden;
}

.top-wrapper h1 {
    position: absolute;
    top: 20%;
    left: 3%;
    font-size: 5vw;
    white-space: nowrap;
    /* テキストを改行せずに一行で表示 */
}

.top-wrapper span {
    display: block;
    text-align: center;
}

.top-wrapper p {
    position: absolute;
    top: 45%;
    left: 4.5%;
}

.centered-image1 {
    background-size: cover;
    position: relative;
}


.top-wrapper img {
    position: relative;
    left: 30%;
    top: -250px;
    /* 例: 画像を上に50pxずらす */
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}



/**********　こんな事思ったことありませんか　レイアウト　**********/
.main-logo1 {
    height: auto;
    display: flex;
    /* コンテナをフレックスボックスに設定 */
    align-items: center;
    /* 子要素を垂直方向の中央に配置 */
}

.text,
.centered-image {
    flex: 1;
    /* 子要素にフレックスアイテムとしての振る舞いを指定 */
}


.large-letter {
    margin-right: 8px;
    /* vertical-alignはflexboxを使用するため不要 */
}

.text-part {
    display: flex;
    /* フレックスボックスを使用して、テキストを整列させる */
    align-items: baseline;
    /* テキストを基線に沿って揃える */
    margin-bottom: 60px;
    /* 各テキストブロック間のスペース */
}

.text {
    line-height: 1.6;
    /* テキストの行間を調整 */
    white-space: nowrap;
    /* テキストを改行せずに一行で表示 */
    margin-top: 50px;
}

.centered-image {
    text-align: center;
    /* コンテナのテキスト揃えを中央に */
}

.container4 {
    margin-top: 67px;
}

/**********　他とここが違う　レイアウト　**********/
.main-logo2 {
    overflow-x: hidden;
    /* コンテナレベルでも適用 */
}

.main-logo2 .image-box1 img {
    border-radius: 60px;
    /* 角の丸みを設定 */
    width: 75%;
    /* 画像のサイズを原寸の80%に */
    height: auto;
    /* 高さを自動調整し、アスペクト比を維持 */
    display: block;
    /* ブロック要素として扱い、中央寄せ可能に */
    margin: 0 auto;
    /* 左右マージンを自動で設定し、画像を中央寄せに */
}

.main-logo2 .image-box2 img {
    border-radius: 60px;
    /* 角の丸みを設定 */
    width: 75%;
    /* 画像のサイズを原寸の80%に */
    height: auto;
    /* 高さを自動調整し、アスペクト比を維持 */
    display: block;
    /* ブロック要素として扱い、中央寄せ可能に */
    margin: 0 auto;
    /* 左右マージンを自動で設定し、画像を中央寄せに */
}

.text-sd {
    font-size: 14px;
    color: #bdbdbd;
    position: relative;
    margin-top: 20px;
    top: 30px;
    letter-spacing: 0.05em;
}

.main-logo2 h3 {
    font-size: 32px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    /* コンテンツ間のスペースを確保 */
    align-items: center;
    /* ここで垂直中央寄せを設定 */
    /* heightが設定されている場合は削除または調整する */
    padding: 3% 0 30px 3%;
}

.content-box p {
    font-size: 14px;
}

.text-box1 {
    width: 50%;
    float: left;
}

.text-box2 {
    width: 50%;
    float: right;
}

.image-box1,
.image-box2 {
    width: 50%;
}

.image-box1 img {
    float: right;
    width: 70% !important;
    /* 画像の幅を半分に */
    height: 70% !important;
    /* 高さを自動調整 */
    display: block !important;
    /* ブロック要素として扱う */
}

.image-box2 img {
    float: left;
    width: 70% !important;
    /* 画像の幅を半分に */
    height: 70% !important;
    /* 高さを自動調整 */
    display: block !important;
    /* ブロック要素として扱う */
}

.text-box {
    width: 50%;
    /* テキストと画像が半分の幅を占めるように設定 */
    /* 他のスタイル */
    display: flex;
    /* フレックスコンテナとして設定 */
    flex-direction: column;
    /* 子要素を縦に並べる */
    justify-content: center;
    /* 子要素を垂直中央寄せ */
    align-items: center;
    /* 水平中央寄せ */
    height: 100%;
    /* 親要素の高さに合わせて伸縮 */

}

.image-box {
    width: 50%;
}


.text-box p {
    text-align: left;
}

.image-box img {
    width: 65% !important;
    /* 画像の幅を半分に */
    height: auto !important;
    /* 高さを自動調整 */
    display: block !important;
    /* ブロック要素として扱う */
    margin: 0 auto !important;
    /* 中央寄せ */
}


/**********　ホームページのサンプル　レイアウト　**********/
.main-logo3 {
    background-color: white;
    height: auto;
}

.main-logo3 p {
    font-size: 14px;
}

.main-logo3 .sample-images {
    text-align: center;
}

.sample-images {
    margin-top: 45px;
}

.sample-images {
    display: flex;
    justify-content: center;
}

.image-group {
    display: flex;
    position: relative;
}

.image-PC,
.image-phone {
    width: auto;
    max-width: 100%;
    height: auto;
}

.image-phone {
    position: absolute;
    z-index: 2;
    width: 23%;
    left: 437px;
    top: 130px;
}

.image-PC {
    z-index: 1;
    width: 95%;
    /* 画像1と3のサイズ */
}




/**********　料金プラン　レイアウト　**********/
.main-logo4 {
    height: auto;
    background-color: white;
}

.main-logo4 p {
    font-size: 14px;
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 70px;
}

.shapes-set {
    display: flex;
    /* セットを横並びにする */
    justify-content: space-between;
    height: auto;
    margin: 0 auto;
}

.shape-container {
    display: flex;
    flex-direction: column;
    /* 円と長方形を縦に並べる */
    align-items: center;
    /* 円と長方形を中央揃えにする */
    margin: 90px auto 40px auto;
    /* セット同士の間隔を設定 */
    position: relative;
    overflow: visible;
}

.plan-container1,
.plan-container2,
.plan-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    height: 180px;
    letter-spacing: 0;

}

.plan-container1 {
    background-color: #90FED0;
}

.plan-container2 {
    background-color: #38B6FF;
}

.plan-container3 {
    background-color: #FF7272;
}

.plan-container1 h3,
.plan-container2 h3,
.plan-container3 h3 {
    margin: 0;
    padding: 25px 0 10px 0;
    font-size: 1.8vw;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        /* 上と左 */
        1px -1px 0 #000,
        /* 上と右 */
        -1px 1px 0 #000,
        /* 下と左 */
        1px 1px 0 #000;
    /* 下と右 */
}

.plan-container1 p,
.plan-container2 p,
.plan-container3 p {
    margin: 0;
    padding: 0 0 35px 0;
    color: white;
    font-size: 4vw;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #000,
        /* 上と左 */
        1px -1px 0 #000,
        /* 上と右 */
        -1px 1px 0 #000,
        /* 下と左 */
        1px 1px 0 #000;
    /* 下と右 */
}

.rectangle1,
.rectangle2,
.rectangle3 {
    width: 280px;
    height: 100%;
    background-color: white;
    /* 背景色 */
    border-radius: 20px;
    /* 角の丸み */
    border: solid 1px black;
}

.container8,
.container9 {
    margin-top: 50px;
}

.container8 p,
.container9 p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: black;
    font-weight: bold;
}

.container8 span {
    display: block;
    position: relative;
    text-align: center;
    color: black;
    font-size: 2vw;
    padding: 20px 0;
}

.container8 span::before,
.container8 span::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: calc(70% - 10px);
    /* 全体の50%の幅から余白を引いた長さにします */
    height: 2px;
    background-color: black;
    top: 0;
    /* 上のボーダー */
}

.container8 span::after {
    top: auto;
    bottom: 0;
    /* 下のボーダー */
}

.container8 span::before {
    transform: translateX(-50%) translateY(-50%);
}

.container8 span::after {
    transform: translateX(-50%) translateY(50%);
}

.container9 span {
    display: block;
    position: relative;
    text-align: center;
    color: red;
    font-size: 2vw;
    padding: 20px 0;
}

.container9 span::before,
.container9 span::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: calc(70% - 10px);
    /* 全体の50%の幅から余白を引いた長さにします */
    height: 2px;
    background-color: black;
    top: 0;
    /* 上のボーダー */
}

.container9 span::after {
    top: auto;
    bottom: 0;
    /* 下のボーダー */
}

.container9 span::before {
    transform: translateX(-50%) translateY(-50%);
}

.container9 span::after {
    transform: translateX(-50%) translateY(50%);
}

.rectangle1 li,
.rectangle2 li,
.rectangle3 li {
    list-style: inside;
    color: black;
}

.rectangle1 ul,
.rectangle2 ul,
.rectangle3 ul {
    padding-top: 7%;
    float: left;
    padding-inline-start: 20%;
}


.container6-1,
.container6-2,
.container6-3 {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 296px;
    border-radius: 20px;
    clip-path: polygon(50% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);
    /* 上辺から右辺、斜め下へカット、左辺へと形状を定義 */
}

/**********　対応可能なオプション　レイアウト　**********/
.content-box-option {
    display: flex;
    justify-content: space-between;
    /* ここを修正 */
    align-items: center;
    width: 48%;
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: #f8f7f7f5;
    border-radius: 10px;
    border: 1px solid #000000
        /* 黒い線を追加 */
}

.text-box-option {
    /* 他のスタイル */
    display: flex;
    /* フレックスコンテナとして設定 */
    flex-direction: column;
    /* 子要素を縦に並べる */
    justify-content: center;
    /* 子要素を垂直中央寄せ */
    align-items: center;
    /* 水平中央寄せ */
    padding-left: 50px;
    height: 100%;
    /* 親要素の高さに合わせて伸縮 */
    white-space: nowrap;
}

.text-box-option,
.image-box-option {
    width: 50%;
    /* テキストと画像が半分の幅を占めるように設定 */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* このプロパティは、アイテム間のスペースを均等にします。 */
    margin-top: 50px;
}

.image-box-option img {
    width: 40%;
    /* 画像の最大幅を40%に設定 */
    height: auto;
    /* 高さを自動調整 */
    padding-right: 50px;
}



.image-box-option {
    display: flex;
    /* フレックスコンテナとして設定 */
    justify-content: flex-end;
    /* 内容を右寄せにする */
    align-items: center;
    /* 垂直中央寄せ */
    width: 100%;
    /* コンテナ全体の幅を使用 */
    margin-left: auto;
    /* 右寄せ */
}

/**********　お申込みから完成までの流れ　レイアウト　**********/
.main-logo5 {
    background-color: #f5f1f1f3;
    border-radius: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.main-logo5 img {
    width: 100%;
    max-width: none;
}

.mobile-break {
    display: none;
}

.timeline-container {
    position: relative;
    padding-left: 30px;
    /* 縦棒とアイコンの間のスペースを確保 */
    padding-top: 60px;
}

.timeline-container::before {
    content: '';
    position: absolute;
    left: 159px;
    /* 縦棒の位置調整 */
    top: 90px;
    bottom: 80px;
    width: 2px;
    /* 縦棒の太さ */
    background-color: #000;
    /* 縦棒の色 */
    z-index: 0;
    /* 棒を他のコンテンツと同じレベルにする */
}

.timeline-item {
    display: flex;
    align-items: center;
    /* アイコンとテキストを中央揃え */
    margin-bottom: 60px;
    /* 各アイテム間のスペース */
    margin-left: 80px;
}

.timeline-icon {
    width: 100px;
    /* アイコンのサイズ */
    height: 100px;
    /* アイコンのサイズ */
    border-radius: 50%;
    /* アイコンを円形に */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    /* アイコンとテキストの間隔 */
    position: relative;
    /* z-index を適用するために position を設定 */
    z-index: 1;
    /* アイコンを前面に */
}

.timeline-content h3 {
    font-size: 32px;
}

.timeline-content p {
    margin: 0;
    /* テキストの余白をなくす */
    padding-left: 15px;
    /* テキストの内側のスペース */
    word-wrap: break-word;
    /* 長い単語を途中で改行 */
    font-size: 14px;
}


/**********　よくある質問　レイアウト　**********/
.main-logo6 {
    height: auto;
    background-color: white;
    color: black;
    padding-bottom: 60px;
}

.main-logo6 .FAQ-list {
    margin: 0;
}


/********** お問い合わせフォームページ **********/
/********** お問い合わせフォーム　レイアウト **********/
.top-container {
    text-align: center;
    height: auto;
    margin-top: 150px;
}

.top-container h1 {
    display: inline-block;
    border-bottom: solid 4px black;
    padding-top: 50px;
    padding-bottom: 10px;
    width: 356px;
    font-size: 24px;
}

.top-container p {
    font-size: 15px;
}

.rectangle-container {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 0;
    position: relative;
}

.step::after {
    content: "";
    /* 擬似要素にはこれが必要 */
    position: absolute;
    top: 71%;
    /* 円の右側中央から始める */
    width: 880px;
    /* 必要に応じて調整 */
    border-top: 10px solid #87CEFA;
    /* 線の色と太さ */
    z-index: -1;
    /* 円の下に線を表示 */
}

.step:first-child::after,
.step:last-child::after {
    content: none;
    /* 最初と最後の円では線を非表示にする */
}

.step-rectangle {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    width: 180px;
    background-color: #1E90FF;
    text-align: center;
    font-weight: bold;
}

.step-rectangle:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #1E90FF;
}

.step-rectangle1 {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    width: 180px;
    background-color: #87CEFA;
    text-align: center;
    font-weight: bold;
}

.step-rectangle1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #87CEFA;
}

.step-rectangle p,
.step-rectangle1 p {
    font-size: 25px;
}

.step-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1E90FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    position: relative;
    /* 線を背面にするためのz-indexの基準点 */
    z-index: 1;
    /* 円を線の前面に表示 */
    margin-bottom: 50px;
}

.step-circle1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #87CEFA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    position: relative;
    /* 線を背面にするためのz-indexの基準点 */
    z-index: 1;
    /* 円を線の前面に表示 */
    margin-bottom: 50px;
}


/********** 入力フォーム　レイアウト **********/
.input-container span {
    color: red;
    font-size: 12px;
}

.text-area {
    display: inline-block;
    font-size: 15px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    width: 98.3%;
    background-color: #D3D3D3;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}


.input-container {
    margin-top: 10px;
    height: auto;
    padding: 0 150px;
    position: relative;
}

/* 枠線を追加するための擬似要素のスタイル */
.input-container::before {
    content: '';
    /* 擬似要素にはcontentが必須 */
    position: absolute;
    /* 親要素(.form-container)に対して絶対位置指定 */
    top: -1px;
    /* 枠線をフォームの上端に合わせる */
    right: 149px;
    /* 枠線をフォームの右端に合わせる */
    bottom: -1px;
    /* 枠線をフォームの下端に合わせる */
    left: 149px;
    /* 枠線をフォームの左端に合わせる */
    border: 2px solid #000;
    /* 黒色の枠線 */
    pointer-events: none;
    /* 枠線がクリックイベントを奪わないようにする */
    z-index: 10;
    /* 枠線をフォームの上に表示 */
}


.input-area {
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

select {
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

textarea {
    width: 100%;
    height: 80px;
    padding-left: 15px;
}



.bottom-container {
    text-align: center;
}

.bottom-container p {
    margin-top: 50px;
}

/********** 同意チェックボックス **********/
.agreement {
    display: flex;
    justify-content: center;
    /* 水平方向の中央に配置 */
    align-items: center;
    /* 垂直方向の中央に配置 */
    flex-direction: row;
    /* 横並びに配置 */
}

.agreement input[type="checkbox"] {
    width: 40px;
    /* チェックボックスの幅を自動にしてデフォルトサイズを使用 */
    height: 40px;
    /* チェックボックスの高さを自動にしてデフォルトサイズを使用 */
}

.agreement label {
    cursor: pointer;
    /* カーソルをポインターに変更する */
    /* 不要なスタイルをリセット */
    padding-left: 27px;
    border: none;
    width: auto;
    /* コンテンツの幅に合わせる */
    margin: 0;
}


/********** 確認画面　レイアウト **********/

.confirmationDetails-container {
    display: flex;
    justify-content: center;
    /* 水平方向の中央に配置 */
    align-items: center;
    /* 垂直方向の中央に配置 */
}

#confirmationDetails {
    word-wrap: break-word;
    /* テキストを折り返す */
    max-width: 60%;
    /* 必要に応じてテキストの最大幅を設定 */
}



/********** 入力完了ページ　レイアウト **********/
.input-complete {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1.5;
}

.complete-text {
    text-align: center;
    letter-spacing: 0.5;
}

.container6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

/**********　よくある質問ページ　レイアウト　**********/
.last-text {
    text-align: center;
    padding-top: 70px;
    margin: 0;
}

.FAQ-list {
    margin: 0 50px;
}

.question-list {
    display: flex;
    padding-top: 25px;
}

.question-item {
    margin-right: 35px;
}

.question-text {
    flex-grow: 1;
    padding-top: 5px;
}

.answer-list {
    border-bottom: solid 2px black;
    padding-bottom: 25px;
    display: flex;
}

.answer-item {
    margin-right: 5px;
}

.answer-text {
    flex-grow: 1;
    padding-top: 10px;
}

/********** 料金ページ　表　レイアウト **********/
.base-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.base-price h3 {
    margin-top: 5%;
}

.price-table {
    border: solid 2px black;
    border-collapse: collapse;
    text-align: center;
    width: 70%;
    table-layout: fixed;
    margin-bottom: 5%;
}

/* 共通の行のスタイル */
.price-row th,
.price-row td {
    height: 70px;
    /* 高さを50pxに設定 */
    border: solid 2px black;
}

.table-top {
    height: 40px;
}

.table-right1 {
    width: 40%;
}


/********** サンプル一覧ページ　レイアウト **********/
.PC-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.sample-container {
    display: flex;
    justify-content: space-between;
}

.text-section,
.img-section {
    flex: 1;
}

.text-section {
    text-align: center;
    padding-top: 13%;
    font-size: 20px;
    letter-spacing: 0.5;
    white-space: nowrap;
}

.img-section img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.sample-box {
    margin-bottom: 4%;
}

.sample1 {
    background-color: F8F8F8;
    border-radius: 15px;
    padding: 0 0 50px 0;
    margin-top: 70px;
}

/********** 運営者概要ページ　レイアウト **********/
/* テーブルコンテナ */
.table-container {
    width: 100%;
    max-width: 80%;
    /* 表の最大幅を変更 */
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* 情報テーブルのスタイル */
.info-table {
    width: 100%;
    height: 540px;
    border-collapse: collapse;
    /* セルの境界線を1本に */
    table-layout: fixed;
    /* 列幅を均等にする */
    /* テーブルの全体のボーダーを定義しない */
}

/* テーブルのヘッダーセル */
.info-table th,
.info-table td {
    border: 2px solid #000;
    /* 全てのセルにボーダーを適用 */
    padding: 8px;
    text-align: center;
    /* 中央寄せに */
}

/* 最初の列のセルの左側のボーダーを削除 */
.info-table th:first-child,
.info-table td:first-child {
    border-left: none;
}

/* 最後の列のセルの右側のボーダーを削除 */
.info-table th:last-child,
.info-table td:last-child {
    border-right: none;
}

/* テーブルのヘッダーセル */
.info-table th {
    background-color: #f5f5f5;
    /* 見出しの背景色を明るい灰色に */
    font-weight: bold;
    /* 見出しを太字に */
}

.contact-spacing {
    display: block;
    margin-top: 3%;
}

/********** お知らせ一覧ページ　レイアウト *********/
.content-area {
    margin-top: 105px;
    margin-bottom: 78px;
    font-size: 33px;
}


.content-area a {
    font-size: 30px;
    color: black;
    text-decoration: auto;
}

.content-area a:hover {
    opacity: 0.7;
    transition: 0.5s;
    color: #474747;
}


ul.news-list {
    padding: 0.5em 9.5em;
    margin: 2em 2em;
    color: #474747;
    background: whitesmoke;
    /*背景色*/
    border-left: double 7px #0bdd;
    /*左線*/
    border-right: double 7px #0bdd;
    /*右線*/
    ;
}

.news-list li {
    padding: 12px 0;
}

.post-date-last {
    position: absolute;
    left: 176px;
    font-size: 18px;
    margin-top: -48px;
}

/********** お知らせ　レイアウト *********/

.post-content {
    font-size: 20px;
    margin-top: -163px;
}

main#main-content {
    margin-top: 238px;
    margin-bottom: 78px;
}

main#main-content h1 {
    font-size: 24px;
    padding: 13px 42px;
    position: relative;
    top: -172px;
    left: -5%;
}

main#main-content h1:after {
    content: '';
    /* 必須: 疑似要素の内容 */
    position: absolute;
    /* 絶対位置指定: h1要素に対する相対位置 */
    left: 37px;
    /* h1要素の左端からの位置 */
    bottom: 6px;
    /* 下線の位置を調整 */
    height: 2px;
    /* 下線の厚み */
    width: 80%;
    /* ここで下線の長さを固定 */
    background-color: #000;
    /* 下線の色 */
}

.date-last-news {
    position: absolute;
    font-size: 18px;
    top: 200px;
    left: 117px;
    color: #0bdd;
    font-weight: bold;
}

.news-box {
    margin: 0 5em;
    /* ボックスの余白 */
    padding: 8em 2em 2em;
    /* ボックス内側余白 */
    position: relative;
    /* 配置(ここを基準に)*/
}

/********** お役立ち情報　レイアウト *********/

.entry-title {
    margin-top: 70px;
}

.entry-title a {
    font-size: 25px;
    color: black;
    text-decoration: auto;
}


.entry-container {
    padding: 3.5em; /* 左右のパディングを削除 */
    margin: 5em auto; /* 左右のマージンを自動調整に */
    color: #474747;
}

.column-date-last {
    position: absolute;
    font-size: 18px;
    margin-top: -48px;
    color: #0bdd;
    font-weight: 700;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.column {
    flex: 0 0 45%; /* 各カラムを画面の約半分の幅で表示 */
    margin: 0 2.5%; /* 左右にマージンを追加 */
    background: whitesmoke;
}

.post-thumbnail img {
    display: block;
    width: 100%;
    height: auto; /* 高さをautoに設定すると、画像の比率はそのままに幅に合わせて高さが自動調整されます */
    aspect-ratio: 3 / 2; /* アスペクト比を3:2に保つ */
    margin-bottom: .5em;
    object-fit: cover; /* サイズがコンテナを超えた場合には、はみ出た部分が切り取られる */
}


/**********　フッター　レイアウト　**********/
footer {
    background-color: #bdbdbd;
    height: auto;
    padding: 5px 20px 40px 20px;
    /* 必要に応じて余白を追加 */
}

.footer-container {
    display: flex;
    width: 100%;
    height: auto;
}

.footer-right {
    flex: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-top: 8%;
}

.container1,
.container2,
.container3 {
    display: flex;
    /* コンテナ内の要素を横並びにする */
    flex-direction: column;
    width: 210px;
    align-self: flex-start;
    /* 各要素を上揃えにする */
}

/* .container1 {
    background-color: red;
}

.container2 {
    background-color: blue;
}

.container3 {
    background-color: green;
} */

/* .container1 ul {
    padding-left: 60px;
}

.container2 ul {
    padding-left: 76px;
}

.container3 ul {
    padding-left: 13px;
} */

.footer-right ul {
    list-style: none;
    /* 箇条書きのマーカーを非表示にする */
    display: flex;
    /* コンテナ内の要素を横並びにする */
    flex-direction: column;
}

.container-title {
    font-size: 20px;
    padding-bottom: 10px;
    position: relative;
}

.container-title:after {
    content: '';
    /* 必須: 疑似要素の内容 */
    position: absolute;
    /* 絶対位置指定: h1要素に対する相対位置 */
    left: -5px;
    /* h1要素の左端からの位置 */
    bottom: 6px;
    /* 下線の位置を調整 */
    height: 2px;
    /* 下線の厚み */
    width: 80%;
    /* ここで下線の長さを固定 */
    background-color: #000;
    /* 下線の色 */
}

.container-list {
    font-size: 14px;
    padding-top: 5px;
}

.container-list:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.footer-left {
    flex: 0 0 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.footer-logo {
    width: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 13px;
    margin-left: 35%;
}

.sns-icon {
    display: flex;
    position: relative;
    left: -14%;
}

.sns-icon img {
    width: 30px;
    /* 写真のように固定値で指定 */
    height: auto;
}

.insta-logo {
    padding-left: 25px;
}